<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

        <title>Logo</title>

        <link rel="stylesheet" href="../static/css/XD.css">
	    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet"> 
	    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
</head>
<body>
	<button id="button" onclick="myFunction();">Up</button>
<h1>Hi game is over</h1>
<br> <a href="http://127.0.0.1:5000/game" class="text"><h1>Home</h1></a>

<div id='line'></div>
{%if winner == 'YOU LOSE! ;-;' %}
<img src={{ url_for('static', filename='6.jpg') }} height="300"></img>
{%elif winner == 'YOU WIN!'%}
<img src="../static/5.jpg">
{%else%}
{%endif%}
<h3 class="sponsered" ><br>Winner: {{ winner }}

<br>sublime text 3: {{ player_choice }}

<br>visual studio: {{ bot }}</h3>

<div id="line"></div>

<h3 class="sponsered" >Sponsered by potato pc</h3>

<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>