<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Rules</title>

	<link rel="stylesheet" href="../static/css/XD.css">
	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
</head>
<body>
	<button id="button" onclick="myFunction();">Up</button>
	<p align="center"><h1>Rules</h1>
	<h3 class="sponsered">
			<a href="http://127.0.0.1:5000/" class="text">
				How to start
			</a>
	</h3></p>
	<div class="block1"></div>
	
	<div id="line"></div>
	
	<h3>This is rules how to play in rock, paper, scisors, lizrard, spok</h3>
	<img src={{ url_for('static', filename='1.png') }} height="300">
	
	<div id="line"></div>
	<h3 class="sponsered" >Sponsered by potato pc</h3>


<script type="text/javascript" src="../static/js/script.js"></script></body>
</html>